:root {
	/* 侧边栏 */
	--sidebar-text-color: #fff;
	--sidebar-background-color: #001120;
	--sidebar-active-text-color: #ffd04b;
	--sidebar-active-background-color: #10848f;

	/* 头部高度 */
	--header-height: 0.6rem;

	/* 主题 */

	--theme-background-color: #fff;
	--theme-font-color: pink;
	--theme-link-font-color: pink;
}
.iconfont {
	display: inline-block;
	width: 24px;
	margin-right: 5px;
	vertical-align: middle;
	text-align: center;
}
.swiper-media-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
